.article {
    display:grid;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px;
    margin: 0 0 10px;
    height: 100%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.articleTitle {
    margin-bottom: 25px;
}
