.editArticle {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 10px;
  display: grid;
}

.editArticle h2 {
  margin: 10px 0;
  color: #3b3b3b;
}

.button {
  color: #ffffff;
  background: #f66060;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  padding: 4px 13px;
  margin: 10px 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 1rem;
}

.button:hover {
  background: #263045;
}

.tag {
  color: #ffffff;
  background: #263045;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  padding: 4px 13px;
  margin: 10px 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 1rem;
}

.tag:hover {
  background: #f66060;
}

.editArticle input:nth-child(1) {
  width: 30vw;
  height: 25px;
  border-radius: 10px;
}
.editArticle input:nth-child(1):focus {
  outline: none;
}