.input {
  width:100%;
  height: 30px;
  border: white;
  padding: 0px 5px 0px;
  font-weight: 800;
  font-size: 1.3rem;
  color: #3b3b3b;
}

.input::placeholder {
  font-weight: 800;
  font-size: 1.3rem;
  color: #3b3b3b;
}

.input:focus {
  outline: none;
}

.searchbar {
  background: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  padding: 0.3rem;
}
