.input {
  width:100%;
  border: white;
  font-weight: bold;
  font-size: 1.3rem;
  color: #3b3b3b;
  font-family: 'Open Sans', sans-serif;
  padding: 9px 25px;
  border-radius: 10px 0px 0px 10px;
}

.input::placeholder {
  font-weight: 800;
  font-size: 1.3rem;
  color: #3b3b3b;
  opacity: .8;
}

.input:focus {
  outline: none;
}

.searchbar {
  background: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  align-items: center;
    width: 100%;
}
.searchForm {
    display: flex;
    width: 100%;
    height: 40px;
}
.searchIcon {
    opacity: .8;
    font-weight: 800;
    color: #3b3b3b;
}
.searchButton {
    background: #ffffff;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 9px 9px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
 }
.searchButton:hover > .searchIcon {
    opacity: 1;
}