.registerForm, .loginForm {
    background: #fff;
    border-radius: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.registerForm input, .loginForm input, .loginForm button, .registerForm button{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.registerForm button, .loginForm button {
    margin-top: 25px;
    font-weight: bold;
    background: #f66060;
    border: none;
    color: white;
}
.error {
    color: red;
}
.inputError {
    border: 2px solid red;
}