.createArticle form {
  display: grid;
  grid-template-columns: 600px 1fr ;
  grid-column-gap: 30px;
}

.createArticle {
  width: 100%;
  height: 100%;
}

.button {
  color: #ffffff;
  background: #f66060;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  padding: 4px 13px;
  margin: 10px 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 1rem;
}

.button:hover {
  background: #263045;
}

.createArticle input:nth-child(1):focus {
  outline: none;
}

.articleText {
  grid-column-start: 1 ;
}

.articleText input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  font-size: 1.3rem;
  color: #3b3b3b;
  font-family: 'Open Sans', sans-serif;

}

.articleText input::placeholder {
  font-weight: 800;
  font-size: 1.3rem;
  color: #3b3b3b;
  opacity: .8;
  padding: 0 5px
}

.articleCard {
  grid-column-start: 2 ;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.thumbnailPreview {
  background-color: #666666;
  min-height: 150px;
  min-width: 100%;
}

.thumbnailButton {
  width: 100%;
  height: 40px;
  color: #ffffff;
  background: #18BADD;
  border: none;
  padding: 4px 13px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 1rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 10px 2fr;
  align-content: center;

}

.thumbnailButton:hover {
  background-color: #263045;
}

.thumbnailBtnWrapper {
  position: relative;
  overflow: hidden;
  display: block;
}

.thumbnailBtnWrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}