.article {
  display: grid;
  margin-bottom: 2vh;
  grid-template-columns: repeat(4, 1fr);
}

.image {
  background-color: darkgrey;
  width: 200px;
  height: 200px;
  grid-column: 1;
}

.content {
  grid-column: span 3;
}

.category {
  color: #c7c7c7;
}
