.x {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.logoutBtn {
    background: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    min-width: 55px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}