.navbar {
  height: 100%;
  width: 15vw;
  min-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #263045;
  color: #f2f2f2;
  overflow-x: hidden;
  z-index: 999;
  transition: left 0.2s;
}

.closednavbar {
  left:-250px;
  transition: left 0.2s;
}

/*---Navbar Items---*/
.menu {
  margin-top: 20px;
  margin-left: 0;
  transition: 0.3s;
}

.menu a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #f2f2f2;
  display: block;
  margin: 0;
  padding: 0.3rem 0.3rem 0.3rem 25px;
  line-height: 1.5;
  transition: 0.3s;
  box-sizing: content-box;
}

.menu a:hover {
  background-color: #181e2b;
  width: 100%;
  margin-left: 0;
}

.active {
  box-shadow: inset 5px 0 0 0 #f2f2f2;
}
/*---Open wiki logo---*/

.logo {
  margin: 0;
  padding: 50px 25px 25px 25px;
}

.logo h2 {
  font-size: 1.7rem;
}

/*Hamburger menu*/

.hamburgerOpen {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  justify-self: start;
}

.hamburgerClosed {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
