/*---Navbar Achtergrond---*/
.navbar {
  height: 100%;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #263045;
  color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 10px;
}

.closednavbar {
  display: none;
}

/*---Navbar Items---*/
.menu {
  margin-top: 20px;
  margin-left: 0;
  transition: 0.3s;
}

.menu a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #f2f2f2;
  display: block;
  margin: 0;
  padding: 0.3rem;
  line-height: 1.5;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #181e2b;
  width: 100%;
  margin-left: 0;
}

.active {
  border-left: 5px solid #f2f2f2;
}
/*---Open wiki logo---*/

.logo {
  margin: 0;
  padding: 0;
}

.logo h2 {
  font-size: 1.7rem;
}

/*Hamburger menu*/

.hamburgerOpen {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 5px;
  left: 10px;
  display: flex;
}

.hamburgerClosed {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 5px;
  right: 10px;
}
