/*Dit is de css voor de markdown language*/
.markdown {
  color: #3b3b3b;
}
.markdown :is(h1, h2) {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.markdown h2{
  font-size: 1.5em;
}

.markdown p {
  margin: 1em 0;
}
.markdown strong {
  font-weight: inherit;
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}

.markdown a {
  color: #4078c0;
  text-decoration: none;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-family: 'courier new', monospace;
}

.markdown code {
  padding: 1rem;
  margin: 10px 0;
  font-size: 85%;
  border-radius: 10px;
}

.markdown ul {
  list-style-type: circle;
  margin: 1em 0;
}

.markdown ol {
  list-style-type: decimal;
  margin: 1em 1.2em;
}
.markdown li {
  margin: 0.5em 0;
}
.markdown li:last-child {
  margin-bottom: 1em
}
.markdown blockquote {
  color: #666666;
  margin: 0;
  border-left: 6px solid;
  padding-right: 1em;
  page-break-inside: avoid;
}

.markdown sup {
  color: red;
}
