.Button {
  color: #ffffff;
  background: #f66060;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 11px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.Content {
  padding-left: 15px;
  font-size: 22px;
}
