.topbar {
    height: 35px;
    display:grid;
    grid-template-columns: 1fr minmax(200px, 800px) 1fr;
    grid-gap: 25px;
    align-content: center;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.topbarRight {
    justify-self: end;
    grid-column-start: 3;
    width: 100%;
}
.homeTopBar {
    background: none;
    box-shadow: none;
}