.topbar {
    height: 35px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    align-content: center;
    align-items: center;
    padding: 15px 50px;
}
.topbarRight {
    justify-self: end;
}