.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25vh 15vh 1fr;
  width: 100%;
}
.homepageLogo {
  grid-row: 1;
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
}
.search {
  grid-row: 2;
  text-align: center;
}
.search h1 {
  margin-bottom: 30px;
}

.recentArticles{
  grid-row: 3;
}

.recentArticles h2 {
  margin-bottom: 10px;
  color: #3b3b3b;
}