.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50vh 1fr;
  justify-content: center;
  width: 100%;
}
.search {
  grid-row: 1;
  align-self: center;
  text-align: center;
}
